z/* DESCENDENT COMBINATOR */
div p strong{
    /* select the item ; manipulate */
    color: red;
}

div p{
    color: green;
}

ul li a[href="https://google.com"]{
    color:brown;
}

ul li a[href="https://facebook.com"]{
    color:aqua;
}

/* ol li{
    color:darkolivegreen;
} */


/* CHILD COMBINATOR -(immediete children) */

ol>li{
    /* This can be achieved usinf descendent selector also but that will change property of all children below RATHER THAN changing IMMEdiete children */
    color: fuchsia;
    /* border-top:3px solid palevioletred; */
}


/* Adjacent Sibling Combinator : A+B=> all the Bs adjacent to A will get selected */

h4+a{ 
    background-color: lightgreen;
}

h4+p+a{  
    /* 'a' adjacent to a 'p' which too is adjacent to a 'h4' */
    background-color: lightgreen;
}

/* General Sibling combinator : (A~B)=> All the B's which are General siblings of A(not just immediete)  in FORWARD DIRECTON (i.e, below A and not above it) */


section div~p{ /*All the Ps (and DIVs) which have 'section' as ancestor and are General siblings of Div and not only immediete*/
    
    background-color: khaki;
}