p {
    /*********** Dimensions - height and width********* */
    width: 400px;

    /* ***********Border **************/
    border: 2px solid green;

    /**************** Margin ***********/

    /*************** margin: 40px; ***********/

    /* margin-top: 40px;
    margin-right: 50px;
    margin-left: 60px;
    margin-bottom: 70px; */


    /* margin: 40px 50px;     (top & bottom)  (left and right)   */
    /* margin: 40px auto       (left and right ==equal) but AUTO Doesnt work this way for top & bottom     */


    /*************** Padding***************/
    /* padding: 50px;  */

    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 30px;

    /* AUTO canNOT be used for PADDING */




}